<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Rango says...</h1>
        <div>
        hey there partner! <br />
        <strong>This tutorial has been put together by {{ name }}</strong><br />
        </div>
        <div>
            <img src="{% static 'images/rango.jpg' %}"
            alt="Picture of Rango" />
        <a href="/rango/">back</a><br />
            <img src="{{MEDIA_URL}}cat.jpg" alt="Picture of a cat">
        </div>
        </body>
</html>